* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(aleks-dorohovich.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 62.5%;
}

body {
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #23FF0A;
  margin: 80px 0;
  font-size: 7.2rem;
  font-weight: 900;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/60px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 2em;
  font-family: "Helvetica Neue", "Open Sans", sans-serif;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/60px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
  font-size: 1.8rem;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 2.4rem;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: auto: overflow: auto;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin {
  max-width: 330px;
  padding: 10px;
  margin: 0 auto;
}

.form-control {
  margin: 0 auto;
  margin: 10px 0;
}


.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bye {
  margin: 15px 0 5px 0;
  color: darkslategrey;
  font-weight: 600;

}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}
